.THIS .no_wrap {
    white-space:normal!important;
}
.THIS th {
    color:#1b5297!important;
}
/*.THIS .slds-modal__content {
    overflow: auto!important;
}
.THIS .leftPaddingClass {
    padding-left: 2rem;
}
.THIS.redOnYellow svg {
    fill : red;
} 
.THIS .pillSize{
    width:100%;
}
.THIS #myProgress {
    width: 100%;
    background-color: #ddd;
}
.THIS .head_color {
    background:whitesmoke;
}
.THIS .silver[data-value] {
position:relative;
}
.THIS .silver[data-value]:after {
content: 'Stage-1 250';
position: absolute;
right: 0;

}
.THIS .gold[data-value] {
position:relative;
}
.THIS .gold[data-value]:after {
content: 'Stage-2 450';
position: absolute;
right: 0;
top:-14px;
}
.THIS .platinum[data-value] {
position:relative;
}
.THIS .platinum[data-value]:after {
content: 'Stage-3 700';
position: absolute;
right: 0;
top:-14px;
}

.THIS .my_progress_bar {
    height: 29px;
}


.THIS .slds-modal__content {
    overflow: auto!important;      
}
.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:90% !important;
}*/